<div *ngIf="!loading">
  <div class="screen-1">
    <div *ngIf="(screens | async)[0].status == 'idle' || (screens | async)[0].status == 'selectedField'" class="placeholder">
      <img [src]="placeholderList[placeholderImage]">
    </div>
    <div *ngIf="(screens | async)[0].status == 'showTeams'" class="playing-teams">
      <marquee behavior="alternate" direction="left" scrollamount="2" class="team1">
        <h1>{{(screens | async)[0].team_one.team_name}}</h1>
      </marquee>
      <marquee behavior="alternate" direction="left" scrollamount="2" class="team2">
        <h1>{{(screens | async)[0].team_two.team_name}}</h1>
      </marquee>
    </div>
    <div *ngIf="(screens | async)[0].status == 'inGame'" class="in-game">
      <div class="scores">
        <div class="score team1">
          <marquee behavior="scroll" direction="left" scrollamount="2">
            {{(screens | async)[0].team_one.team_name}}
          </marquee>
          <span>{{(screens | async)[0].team_one.score}}</span>
        </div>
        <div class="timer">
          {{timer1Text}}
        </div>
        <div class="score team2">
          <marquee behavior="scroll" direction="left" scrollamount="2">
            {{(screens | async)[0].team_two.team_name}}
          </marquee>
          <span>{{(screens | async)[0].team_two.score}}</span>
        </div>
      </div>
    </div>
    <div class="fireworks">
      <div *ngIf="(screens | async)[0].status == 'gameOver' && winnersFlash == 0" class="winners">
        <h2 class="winners-text">Winners</h2>
        <marquee behavior="scroll" direction="left" scrollamount="6" class="winners-team" *ngIf="(screens | async)[0].team_two.score == (screens | async)[0].team_one.score">TIE</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="6" class="winners-team" *ngIf="(screens | async)[0].team_two.score > (screens | async)[0].team_one.score">{{(screens | async)[0].team_two.team_name}}</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="6" class="winners-team" *ngIf="(screens | async)[0].team_two.score < (screens | async)[0].team_one.score">{{(screens | async)[0].team_one.team_name}}</marquee>
      </div>
      <div *ngIf="(screens | async)[0].status == 'gameOver' && winnersFlash == 1" class="winners winning-score">
        <h2 class="winners-team" *ngIf="(screens | async)[0].team_two.score == (screens | async)[0].team_one.score">{{(screens | async)[0].team_two.score}} All</h2>
        <h2 class="winners-team" *ngIf="(screens | async)[0].team_two.score > (screens | async)[0].team_one.score">{{(screens | async)[0].team_two.score}} - {{(screens | async)[0].team_one.score}}</h2>
        <h2 class="winners-team" *ngIf="(screens | async)[0].team_two.score < (screens | async)[0].team_one.score">{{(screens | async)[0].team_one.score}} - {{(screens | async)[0].team_two.score}}</h2>
      </div>
    </div>
  </div>
    <div class="screen-2">
      <div *ngIf="(screens | async)[1].status == 'idle' || (screens | async)[1].status == 'selectedField'" class="placeholder">
        <img [src]="placeholderList[placeholderImage]">
      </div>
      <div *ngIf="(screens | async)[1].status == 'showTeams'" class="playing-teams">
        <marquee behavior="alternate" direction="left" scrollamount="2" class="team1">
          <h1>{{(screens | async)[1].team_one.team_name}}</h1>
        </marquee>
        <marquee behavior="alternate" direction="left" scrollamount="2" class="team2">
          <h1>{{(screens | async)[1].team_two.team_name}}</h1>
        </marquee>
      </div>
      <div *ngIf="(screens | async)[1].status == 'inGame'" class="in-game">
        <div class="scores">
          <div class="score team1">
            <marquee behavior="scroll" direction="left" scrollamount="2">
              {{(screens | async)[1].team_one.team_name}}
            </marquee>
            <span>{{(screens | async)[1].team_one.score}}</span>
          </div>
          <div class="timer">
            {{timer2Text}}
          </div>
          <div class="score team2">
            <marquee behavior="scroll" direction="left" scrollamount="2">
              {{(screens | async)[1].team_two.team_name}}
            </marquee>
            <span>{{(screens | async)[1].team_two.score}}</span>
          </div>
        </div>
      </div>
      <div class="fireworks">
        <div *ngIf="(screens | async)[1].status == 'gameOver' && winnersFlash == 0" class="winners">
          <h2 class="winners-text">Winners</h2>
          <marquee behavior="scroll" direction="left" scrollamount="6" class="winners-team" *ngIf="(screens | async)[1].team_two.score == (screens | async)[1].team_one.score">TIE</marquee>
          <marquee behavior="scroll" direction="left" scrollamount="6" class="winners-team" *ngIf="(screens | async)[1].team_two.score > (screens | async)[1].team_one.score">{{(screens | async)[1].team_two.team_name}}</marquee>
          <marquee behavior="scroll" direction="left" scrollamount="6" class="winners-team" *ngIf="(screens | async)[1].team_two.score < (screens | async)[1].team_one.score">{{(screens | async)[1].team_one.team_name}}</marquee>
        </div>
        <div *ngIf="(screens | async)[1].status == 'gameOver' && winnersFlash == 1" class="winners winning-score">
          <h2 class="winners-team" *ngIf="(screens | async)[1].team_two.score == (screens | async)[1].team_one.score">{{(screens | async)[1].team_two.score}} All</h2>
          <h2 class="winners-team" *ngIf="(screens | async)[1].team_two.score > (screens | async)[1].team_one.score">{{(screens | async)[1].team_two.score}} - {{(screens | async)[1].team_one.score}}</h2>
          <h2 class="winners-team" *ngIf="(screens | async)[1].team_two.score < (screens | async)[1].team_one.score">{{(screens | async)[1].team_one.score}} - {{(screens | async)[1].team_two.score}}</h2>
        </div>
      </div>
    </div>
</div>
