.screen-1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 192px;
  height: 64px;
  background-color: black;
  overflow: hidden;
}

.screen-2 {
  top: 0px;
  left: 192px;
  position: absolute;
  width: 192px;
  height: 64px;
  background-color: black;
  overflow: hidden;
}

.placeholder {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.playing-teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;

  .team1 {
    border-bottom: 2px solid rgba(255,255,255,0.6);
    width: 100%;
    height: 28px;
    padding-top: 2px;
  }

  .team2 {
    width: 100%;
    height: 28px;
    margin-top: 3px;
  }

  h1 {
    margin: 0;
  }

  .team1 h1 {
    color: #e74c3c;
    padding-bottom: 1px;
    text-align: center;
    width: fit-content;
  }

  .team2 h1 {
    color: #3498db;
    width: 100%;
    text-align: center;
    width: fit-content;
  }
}

.half-text {
  font-size: 0.6em;
  line-height: 13px;
}

.in-game {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  background-size: contain;

  .team1 {
    width: 100%;
    h2 {
      color: #e74c3c;
      padding: 4px 0;
      white-space: nowrap;
      width: auto;
    }
  }

  .team2 {
    width: 100%;
    h2 {
      color: #3498db;
      padding: 4px 0;
      white-space: nowrap;
      width: fit-content;
    }
  }
}

.timer {
  width: 100%;
  color: #2ecc71;
  font-size: 1.7em;
  letter-spacing: 3px;
  text-align: center;
  height: 100%;
  border-left: 1px solid rgba(255,255,255,0.2);
  border-right: 1px solid rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.scores {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items:center;
  font-size: 15px;
  font-weight: bold;
  .team1 {
    marquee {
      height: 23px;
      font-size: 25px;
      color: #e74c3c;
    }
  }
  .team2 {
    marquee {
      color: #3498db;
      font-size: 25px;
      height: 23px;
    }
  }
}

.score {
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex: 3;
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    font-size: 1.5em;
    letter-spacing: 4px;
    height: 27px;
  }
}

.winners {
  height: 100%;
}

.winners-text {
  width: 100%;
  font-size: 1.2em;
  margin: 5px 0 4px 0;
  text-align: center;
}

.winners-team {
  margin: 0;
  font-size: 2.1em;
  font-weight: bold;
  color: white;
  height: 40px;
  margin-top: 5px;
  text-align: center;
}

.winning-score {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.winning-score h2 {
  height: 42px;
  color: white;
  font-size: 3em;
}

.fireworks {
  height: 100%;
  width: 100%;
}
