@import '~animate.css/animate.min';
@font-face {
  font-family: 'digital-7';
  src: url('assets/fonts/digital-7.ttf') format('truetype');
}

* {
  box-sizing: content-box;
  font-family: 'digital-7';
  color: white;
}

img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  object-fit: contain;
}
